---
import GithubWidget from '../components/GithubWidget.astro';
import HeroSection from '../components/HeroSection.astro';
import ServicesSection from '../components/ServicesSection.astro';
import BaseHead from '../components/BaseHead.astro';
import BaseFooter from '../components/BaseFooter.astro';

import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

import { Picture } from "astro:assets"
import AstroLogo from '../images/logos/astro-logo-dark.svg'
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<header>
      <GithubWidget />
    </header>
      <HeroSection />
      <ServicesSection />

          <!-- HOW IT WORKS -->
          <section class="sectionSize bg-secondary px-4">
            <p class="mb-8 text-base leading-relaxed text-left text-gray-600 font-montserrat ">
              Our team is made up exclusively of senior professionals, each with up to 8 years of proven track record of success in their respective fields.
            </p>
            <div>
              <h2 class="secondaryTitle bg-underline3 bg-contain bg-100%">How it works</h2>
            </div>
            <div class="md:grid md:grid-cols-2 md:grid-rows-2">
        
              <div class="flex items-start font-montserrat my-6 mr-10">
                <img src="favicon.svg" alt="" class="h-7 mr-4">
                <div>
                  <h3 class="font-semibold text-2xl">1. Brief</h3>
                  <p>
                    Every project starts with a clear brief and definition of tasks.
                  </p>
                </div>
              </div>
        
              <div class="flex items-start font-montserrat my-6 mr-10">
                <img src="favicon.svg" alt="" class="h-7 mr-4">
                <div>
                  <h3 class="font-semibold text-2xl">Estimate</h3>
                  <p>
                    We estimate the scope of work and enter into a contract with fixed deadlines and deliverables.
                  </p>
                </div>
              </div>
        
              <div class="flex items-start font-montserrat my-6 mr-10">
                <div class="font-semibold text-2xl mr-6">3.</div>
                <div>
                  <h3 class="font-semibold text-2xl">Realization</h3>
                  <p>
                    No vague deadlines or inflated hours - just the results you need.
                  </p>
                </div>
              </div>
        
            </div>
            <!-- <p class="mb-8 text-base leading-relaxed text-left text-gray-600 font-montserrat">
              We follow an agile model, which means that tasks are estimated in advance, and the project has clearly defined milestones. This approach ensures transparency for our clients and allows our professionals to work efficiently.
            </p> -->
            <h3 class="text-xl font-bold my-6 opacity-30 capitalize">Our favorite technologies:</h3>
        <div class="flex flex-wrap md:flex-nowrap">
            <!-- TECHNOLOGIES LOGOS
            https://astro.build/press/
            https://en.m.wikipedia.org/wiki/File:Tailwind_CSS_logo.svg
            vue
            react
            next
            nuxt
            -->
            <Picture
                src={AstroLogo}
                alt="Logo of Astro framework"
            />
            <Picture
                src={AstroLogo}
                alt="Logo of Astro framework"
            />
            <Picture
                src={AstroLogo}
                alt="Logo of Astro framework"
            />
            <Picture
                src={AstroLogo}
                alt="Logo of Astro framework"
            />
            <Picture
                src={AstroLogo}
                alt="Logo of Astro framework"
            />
            <Picture
                src={AstroLogo}
                alt="Logo of Astro framework"
            />
        </div>
          </section>

        <!-- STUDY CASES -->
        <section class="px-0 mx-auto max-w-7xl sm:px-4 text-center sectionSize" style="padding-top: 0;padding-bottom: 0;">
            <div class="py-12 hover:shadow-2xl border border-black bg-black grid items-center grid-cols-1 gap-10 px-4 overflow-hidden text-white rounded-none sm:rounded-lg md:px-10 md:grid-cols-5 lg:gap-0">
                <div class="col-span-1 md:col-span-3">
                    <h2 class="secondaryTitle bg-underline2 bg-contain bg-100%">Study Cases</h2>
                    <p class="mb-6 text-sm font-montserrat lg:text-base">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero incidunt consequatur hic! Est deserunt ipsum laboriosam omnis aliquam assumenda vero autem quam libero debitis eius molestiae natus dolores, voluptatum voluptas!</p>
                    <a href="#" class="inline-block mt-2 mx-auto border-2 px-6 py-2 rounded-lg border-white bg-white text-black font-bold">Read blog</a>
                </div>
                <!-- <div class="col-span-1 md:col-span-2">
                    <img src="blog-placeholder-4.jpg" class="w-full ml-0 select-none lg:ml-32" alt="Blog">
                </div> -->
            </div>
        </section>

        <!-- TESTIMONIALS -->
        <section class="py-10 md:py-16 sectionSize text-center">
            <div class="container max-w-screen-xl mx-auto px-4">
                <h2 class="secondaryTitle bg-100%" style="margin-bottom: 0;">Testimonial</h2>

                <!-- <p class="font-normal text-gray-500 text-xs md:text-base mb-10 md:mb-20">
                    We are proud to work with our clients
                </p> -->

                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
                    <div class="bg-gray-50 px-8 py-10 rounded-md">
                        <p class="font-normal text-gray-500 text-md mb-4 italic">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                            incididunt ut labore et dolore magna aliqua.
                        </p>

                        <h6 class="font-semibold text-[#000] text-md">
                            Stephan Clark
                            <span class="font-medium text-gray-300 text-sm">- CEO at EarlyBird</span>
                        </h6>
                    </div>

                    
                </div>
            </div>
        </section>

        <!-- FAQ -->
        <!-- <section class="sectionSize items-start pt-8 md:pt-36 bg-black text-white">
            <div>
                <h2 class="secondaryTitle bg-highlight3 p-10 mb-0 bg-center bg-100%">
                FAQ
                </h2>
            </div>
        
            <div toggleelement="" class="w-full py-4">
                <div class="flex justify-between items-center">
                <div question="" class="font-montserrat font-medium mr-auto">
                    Where can I get this HTML template?
                </div>
                <img src="dist/assets/logos/CaretRight.svg" alt="" class="transform transition-transform">
                </div>
                <div answer="" class="font-montserrat text-sm font-extralight pb-8 hidden">
                You can download it on Gumroad.com
                </div>
            </div>
            <hr class="w-full bg-white">
        
            <div toggleelement="" class="w-full py-4">
                <div class="flex justify-between items-center">
                <div question="" class="font-montserrat font-medium mr-auto">
                    Is this HTML template free?
                </div>
                <img src="dist/assets/logos/CaretRight.svg" alt="" class="transform transition-transform">
                </div>
                <div answer="" class="font-montserrat text-sm font-extralight pb-8 hidden">
                Yes! For you it is free.
                </div>
            </div>
            <hr class="w-full bg-white">
        
            <div toggleelement="" class="w-full py-4">
                <div class="flex justify-between items-center">
                <div question="" class="font-montserrat font-medium mr-auto">
                    Am I awesome?
                </div>
                <img src="dist/assets/logos/CaretRight.svg" alt="" class="transform transition-transform">
                </div>
                <div answer="" class="font-montserrat text-sm font-extralight pb-8 hidden">
                Yes! No doubt about it.
                </div>
            </div>
            <hr class="w-full bg-white">
        
        </section> -->

        <BaseFooter />
        
	</body>
    <style>

        .secondaryTitle {
            background-position: left bottom;
            background-repeat: no-repeat;
            font-family: PT Serif, serif;
            font-size: 1.875rem;
            line-height: 2.25rem;
            margin-bottom: 2rem;
            padding-left: 4rem;
            padding-right: 4rem;
            padding-bottom: 2rem;
        }
    </style>
</html>
